In [1]:
n1=int(input('enter a number '))
n2=int(input('enter a number '))
sum= print('the sum of the numbers is',n1+n2)
sum

enter a number 1
enter a number 2
the sum of the numbers is 3

In [2]:
n1=int(input('enter a number '))
n2=int(input('enter a number '))
sum= ('the sum of the numbers is',n1+n2)
sum

enter a number 1
enter a number 2

('the sum of the numbers is', 3)

In [3]:
n1=int(input('enter a number '))
n2=int(input('enter a number '))
sum = n1+n2
print('the sum of the number is',sum)

enter a number 1
enter a number 2
the sum of the number is 3

We use the built-in function input() to take the input. input() returns a string, so we convert it into number using the float() function.

In [4]:
n1=input('enter a number ')
n2=input('enter a number ')
sum = n1+n2
print('the sum of the number is',sum)

enter a number 1
enter a number 2
the sum of the number is 12

In [5]:
print('the sum is %.1f' %(float(input('enter first number: '))+float(input('enter second number:'))))

enter first number: 1
enter second number:2
the sum is 3.0

# Python Program to Check Prime Number

In [6]:
num=int(input('enter a number '))
if num >0:
    print(num,'is a positive number')
elif num==0:
    print('the number is zero')
else:
    print(num,'is a negative number')
print('the number is an integer anyway')

enter a number -13
-13 is a negative number
the number is an integer anyway

# nested if

We can have a if...elif...else statement inside another if...elif...else statement. This is called nesting in computer programming.

In [7]:
num=float(input('enter a number: '))
if num >=0:
    if num==0:
        print('zero')
    else:
        print('positive number')
        
else:
    print('negative number')

enter a number: 3
positive number

# for loop

The for loop in Python is used to iterate over a sequence (list, tuple, string) or other iterable objects.

for val in sequence:
	Body of for

In [8]:
# Program to find the sum of all numbers stored in a list

# List of numbers
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]

# variable to store the sum
sum = 0

# iterate over the list
for val in numbers:
	sum = sum+val

# Output: The sum is 48
print("The sum is", sum)

The sum is 48

In [9]:
num=[6,5,7,8,9,10]
sum=0
for i in num:
    sum=sum+i
print('the sum is',sum)

the sum is 45

# The range() function
We can generate a sequence of numbers using range() function. range(10) will generate numbers from 0 to 9 (10 numbers).

This function does not store all the values in memory, it would be inefficient. So it remembers the start, stop, step size and generates the next number on the go.

To force this function to output all the items, we can use the function list().

In [35]:
list(range(0,20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [10]:
print(list(range(0,10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
print(list(range(0,10,2)))

[0, 2, 4, 6, 8]

We can use the range() function in for loops to iterate through a sequence of numbers. It can be combined with the len() function to iterate though a sequence using indexing.

In [12]:
# Program to iterate through a list using indexing

genre = ['pop', 'rock', 'jazz']

# iterate over the list using index
for i in range(len(genre)):
	print("I like", genre[i])

I like pop
I like rock
I like jazz

In [13]:
family=['diane','alex','annona','ray']
for i in range(len(family)):
    print('my name is ',i)

my name is  0
my name is  1
my name is  2
my name is  3

In [14]:
family=['diane','alex','annona','ray']
for i in range(len(family)):
    print('my name is ',family[i])

my name is  diane
my name is  alex
my name is  annona
my name is  ray

A for loop can have an optional else block as well. The else part is executed if the items in the sequence used in for loop exhausts.

break statement can be used to stop a for loop. In such case, the else part is ignored.

Hence, a for loop's else part runs if no break occurs.

In [15]:
digits = [0, 1, 5]
for i in digits:
    print(i)
else:
    print('no items left')

0
1
5
no items left

# while loop

What is while loop in Python?
The while loop in Python is used to iterate over a block of code as long as the test expression (condition) is true.

We generally use this loop when we don't know beforehand, the number of times to iterate.

while test_expression:
    Body of while
 
 
In while loop, test expression is checked first. The body of the loop is entered only if the test_expression evaluates to True. After one iteration, the test expression is checked again. This process continues until the test_expression evaluates to False.

# Python interprets any non-zero value as True. None and 0 are interpreted as False.

In [16]:
# Program to add natural
# numbers upto 
# sum = 1+2+3+...+n

# To take input from the user,
# n = int(input("Enter n: "))

n = 10

# initialize sum and counter
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i+1    # update counter

# print the sum
print("The sum is", sum)

The sum is 55

In [18]:
n=int(input('enter the number: '))
sum=0
i=1
while i <n:
    sum=sum+i
    i=i+1
print('the sum is',sum)

enter the number: 22
the sum is 231

In [36]:
n=int(input('enter the number: '))

i=1
while i <n:
    print(i)
    i=i+1

enter the number: 9
1
2
3
4
5
6
7
8

In [38]:
n=int(input('enter the number: '))

i=1
while i <n:
    i=i+1
    print(i)

enter the number: 9
2
3
4
5
6
7
8
9

In [37]:
n=int(input('enter the number: '))

i=1
while i <=n:
    print(i)
    i=i+1

enter the number: 9
1
2
3
4
5
6
7
8
9

In [21]:
n=int(input('enter the number: '))

i=10
while i >5:
    print(i)
    i=i-1

enter the number: 9
10
9
8
7
6

In [22]:
n=int(input('enter the number: '))

i=10
while i >=5:
    print(i)
    i=i-1

enter the number: 9
10
9
8
7
6
5

In the above program, the test expression will be True as long as our counter variable i is less than or equal to n

We need to increase the value of counter variable in the body of the loop. This is very important (and mostly forgotten). Failing to do so will result in an infinite loop (never ending loop).

The else part is executed if the condition in the while loop evaluates to False.
The while loop can be terminated with a break statement. In such case, the else part is ignored. Hence, a while loop's else part runs if no break occurs and the condition is false.

In [23]:
counter = 0

while counter < 3:
    print("Inside loop")
    counter = counter + 1
else:
    print("Inside else")

Inside loop
Inside loop
Inside loop
Inside else

n=int(input('Enter the number '))
i=0
list1=[]
while i<n:
if i%2==0:
    list1.append(i)
    i=i+1
print(list1)

# What is the use of break and continue in Python?

In Python, break and continue statements can alter the flow of a normal loop.

Loops iterate over a block of code until test expression is false, but sometimes we wish to terminate the current iteration or even the whole loop without checking test expression.

The break statement terminates the loop containing it. Control of the program flows to the statement immediately after the body of the loop.

If break statement is inside a nested loop (loop inside another loop), break will terminate the innermost loop.

In [24]:
for i in 'alex':
    if i == 'e':
        break
    print(i)
print('the end')

a
l
the end

In [25]:
for i in 'alex':
    print(i)
    if i == 'e':
        break
print('the end')

a
l
e
the end

In [40]:
for i in 'alex':
    if i == 'e':
        print(i)
        break
print('the end')

e
the end

Python continue statement
The continue statement is used to skip the rest of the code inside a loop for the current iteration only. Loop does not terminate but continues on with the next iteration.

In [26]:
for i in 'alex':
    if i == 'e':
        
        continue
    print(i)
print('the end')

a
l
x
the end

In [27]:
for i in 'alex':
    if i == 'e':
        print('u')
        continue
    print(i)
print('the end')

a
l
u
x
the end

# What is pass statement in Python?

In Python programming, pass is a null statement. The difference between a comment and pass statement in Python is that, while the interpreter ignores a comment entirely, pass is not ignored.

However, nothing happens when pass is executed. It results into no operation (NOP).

Suppose we have a loop or a function that is not implemented yet, but we want to implement it in the future. They cannot have an empty body. The interpreter would complain. So, we use the pass statement to construct a body that does nothing.

In [28]:
sequence = {'p', 'a', 's', 's'}
for I in sequence:
    pass

In [29]:
def function(args):
    pass

# Python Looping Techniques

# while True:
   num = int(input("Enter an integer: "))
   print("The double of",num,"is",2 * num)

# Program to illustrate a loop with condition in the middle. 
# Take input from the user untill a vowel is entered
vowels = "aeiouAEIOU"
# infinite loop
while True:
   v = input("Enter a vowel: ")
   # condition in the middle
   if v in vowels:
       break
   print("That is not a vowel. Try again!")
print("Thank you!")

# What is a function in Python?

def function_name(parameters):
	"""docstring"""
	statement(s)

Keyword def marks the start of function header.
A function name to uniquely identify it. Function naming follows the same rules of writing identifiers in Python.
Parameters (arguments) through which we pass values to a function. They are optional.
A colon (:) to mark the end of function header.
Optional documentation string (docstring) to describe what the function does.
One or more valid python statements that make up the function body. Statements must have same indentation level (usually 4 spaces).
An optional return statement to return a value from the function.

In [32]:
def greet(name):
	"""This function greets to
	the person passed in as
	parameter"""
	print("Hello, " + name + ", Good morning!")
greet('alex')

Hello, alex, Good morning!

in the above example, we have a docstring immediately below the function header. We generally use triple quotes so that docstring can extend up to multiple lines. This string is available to us as __doc__ attribute of the function.

In [33]:
print(greet.__doc__)

This function greets to
	the person passed in as
	parameter

The return statement
The return statement is used to exit a function and go back to the place from where it was called.

This statement can contain expression which gets evaluated and the value is returned. If there is no expression in the statement or the return statement itself is not present inside a function, then the function will return the None object.

In [34]:
 print(greet("May"))

Hello, May, Good morning!
None

# list

List Index
We can use the index operator [] to access an item in a list. Index starts from 0. So, a list having 5 elements will have index from 0 to 4.

Trying to access an element other that this will raise an IndexError. The index must be an integer. We can't use float or other types, this will result into TypeError.

In [1]:
n_list = ["Happy", [2,0,1,5]]

In [2]:
n_list[0][1]

'a'

In [3]:
n_list[1][3]

5

How to change or add elements to a list?
List are mutable, meaning, their elements can be changed unlike string or tuple.

We can use assignment operator (=) to change an item or a range of items.

In [4]:
a=[1,2,3,4,5,6,7]
a[0]=10
a

[10, 2, 3, 4, 5, 6, 7]

In [5]:
a[1:4]=[3,4,5]
a

[10, 3, 4, 5, 5, 6, 7]

In [6]:
b=[6,7,8,9]
a+b

[10, 3, 4, 5, 5, 6, 7, 6, 7, 8, 9]

In [7]:
a+[6,7,8,9]

[10, 3, 4, 5, 5, 6, 7, 6, 7, 8, 9]

In [8]:
#The * operator repeats a list for the given number of times.
['re']*3

['re', 're', 're']

In [9]:
a=[1,3,5]
a.insert(1,'q')
a

[1, 'q', 3, 5]

How to delete or remove elements from a list?
We can delete one or more items from a list using the keyword del. It can even delete the list entirely.

In [10]:
a=[1,2,3,4,5]
del a[1]
a

[1, 3, 4, 5]

In [11]:
del a[1:3]
a

[1, 5]

In [12]:
del a
a

NameError: name 'a' is not defined

We can use remove() method to remove the given item or pop() method to remove an item at the given index.

In [15]:
a=[1,2,3,4,5,6,7,8]
a.remove(2)
a

[1, 3, 4, 5, 6, 7, 8]

In [16]:
a=[1,2,3,4,5,6,7,8]
a.pop(1)
a

[1, 3, 4, 5, 6, 7, 8]

We can also use the clear() method to empty a list.

In [17]:
a.clear()

In [18]:
a

[]

Finally, we can also delete items in a list by assigning an empty list to a slice of elements.

In [20]:
a=[1,2,3,4,5,6,7,8]
a[1:3]=[]
a

[1, 4, 5, 6, 7, 8]

In [22]:
a=[1,2,3,4,5,6,7,8,8]
a.index(3)

2

In [23]:
a.count(8)

2

In [25]:
a.sort(reverse=True)
a

[8, 8, 7, 6, 5, 4, 3, 2, 1]

In [26]:
a.reverse()
a

[1, 2, 3, 4, 5, 6, 7, 8, 8]

List Membership Test
We can test if an item exists in a list or not, using the keyword in.

In [27]:
a=[1,2,3,4,5,6,7,8]
1 in a

True

In [28]:
'a' not in a

True

# TUPLES

In [29]:
tuple1=(1,2,3,4,5)

In [30]:
tuple1.count(1)

1

In [32]:
tuple1.index(1)

0

In [33]:
T=()

In [34]:
len(T)

0

In [45]:
s=('e',)
type(s)

tuple

In [46]:
len(s)

1

In [50]:
s=('e')
type(s)

str

In [51]:
len(s)

1

In [52]:
s=(1)
type(s)

int

In [53]:
len(s)

TypeError: object of type 'int' has no len()

tuple packing:

In [37]:
t=1,2,3,4,5,6,7,8,9
t

(1, 2, 3, 4, 5, 6, 7, 8, 9)

# DICTIONARIES

In [54]:
e={}
type(e)

dict

In [58]:
d1={'annona':'alex'}

In [59]:
d1['annona']

'alex'

In [61]:
d1={'annona':1,'annona':2}
d1['annona']

2

In [68]:
d2={'aquilin':2}
d1.update(d2)
d1

{'annona': 'alex', 'aquilin': 2}

In [70]:
d3={'annona':'alex'}
d1.update(d3)
d1

{'annona': 'alex', 'aquilin': 2}

In [71]:
d1.keys()

dict_keys(['annona', 'aquilin'])

In [72]:
d1.values()

dict_values(['alex', 2])

In [73]:
d1.items()

dict_items([('annona', 'alex'), ('aquilin', 2)])

In [83]:
d1={'iype':{'alias':{'annona':{'diane'}}}}

In [84]:
d1['iype']

{'alias': {'annona': {'diane'}}}

In [85]:
d1['iype']['alias']['annona']

{'diane'}

In [86]:
d1['iype']['alias']

{'annona': {'diane'}}

In [87]:
d1['annona']

KeyError: 'annona'

In [98]:
d1={1:2,3:4,5:6}
del d1[1]
d1

{3: 4, 5: 6}

In [99]:
d1['annona']='alex'
d1

{3: 4, 5: 6, 'annona': 'alex'}

In [100]:
'annona' in d1 #to check if a key is present.

True

In [92]:
list(d1)#gives all the keys in the insertion order.

[3, 5, 'annona']

In [94]:
d1={2:3,1:7,0:5}

In [95]:
list(d1)

[2, 1, 0]

In [96]:
sorted(d1)

[0, 1, 2]

dictionary constructor:

In [103]:
dict([('sape',1),('abc',2),('xyz',3)])

{'sape': 1, 'abc': 2, 'xyz': 3}

In [104]:
dict(a=1,b=2,c=3)

{'a': 1, 'b': 2, 'c': 3}

Python dictionary is an unordered collection of items. While other compound data types have only value as an element, a dictionary has a key: value pair.

Dictionaries are optimized to retrieve values when the key is known.
While values can be of any data type and can repeat, keys must be of immutable type (string, number or tuple with immutable elements) and must be unique.

How to access elements from a dictionary?
While indexing is used with other container types to access values, dictionary uses keys. Key can be used either inside square brackets or with the get() method.

The difference while using get() is that it returns None instead of KeyError, if the key is not found.

In [141]:
m = {'name':'Jack', 'age': 26}

In [142]:
m['age']

26

In [145]:
m.get('age')

26

In [146]:
m['annona']

KeyError: 'annona'

In [149]:
m.get('annona')

How to change or add elements in a dictionary?
Dictionary are mutable. We can add new items or change the value of existing items using assignment operator.

If the key is already present, value gets updated, else a new key: value pair is added to the dictionary.

How to delete or remove elements from a dictionary?
We can remove a particular item in a dictionary by using the method pop(). This method removes as item with the provided key and returns the value.

The method, popitem() can be used to remove and return an arbitrary item (key, value) form the dictionary. All the items can be removed at once using the clear() method.

We can also use the del keyword to remove individual items or the entire dictionary itself.

In [154]:
s = {1:1, 2:4, 3:9, 4:16, 5:25} 
s.pop(2)
s

{1: 1, 3: 9, 4: 16, 5: 25}

In [155]:
s.popitem()

(5, 25)

In [156]:
del s[4]
s

{1: 1, 3: 9}

In [158]:
s.clear()
s

{}

fromkeys(seq[, v])	Return a new dictionary with keys from seq and value equal to v (defaults to None).

In [159]:
marks = {}.fromkeys(['Math','English','Science'], 0)
marks

{'Math': 0, 'English': 0, 'Science': 0}

python dictionary comprehension:

Dictionary comprehension is an elegant and concise way to create new dictionary from an iterable in Python.

Dictionary comprehension consists of an expression pair (key: value) followed by for statement inside curly braces {}.

# tuple unpacking

In [106]:
x=3,4.6,'dog'
x

(3, 4.6, 'dog')

In [107]:
a,b,c=x

In [108]:
print(a)

3

In [109]:
print(b)

4.6

In [110]:
print(c)

dog

1. Indexing
We can use the index operator [] to access an item in a tuple where the index starts from 0.

So, a tuple having 6 elements will have indices from 0 to 5. Trying to access an element outside of tuple (for example, 6, 7,...) will raise an IndexError.

The index must be an integer; so we cannot use float or other types. This will result in TypeError.

Likewise, nested tuples are accessed using nested indexing, as shown in the example below.

In [111]:
x=(1,2,3,4,5,6)
x[0]

1

In [112]:
type(x)

tuple

In [113]:
x[12]

IndexError: tuple index out of range

In [114]:
x[2.0]

TypeError: tuple indices must be integers or slices, not float

In [116]:
x[-1]

6

In [115]:
n = ("mouse", [8, 4, 6], (1, 2, 3))
n[0][0]

'm'

In [117]:
m = ('p','r','o','g','r','a','m','i','z')

In [118]:
m[1:4]

('r', 'o', 'g')

In [119]:
m[:-7]

('p', 'r')

In [120]:
m[7:]

('i', 'z')

In [121]:
m[:]

('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

Unlike lists, tuples are immutable.

This means that elements of a tuple cannot be changed once it has been assigned. But, if the element is itself a mutable datatype like list, its nested items can be changed.

In [122]:
m[1]=9

TypeError: 'tuple' object does not support item assignment

In [125]:
my = (4, 2, 3, [6, 5])
my[3][0]=9
my

(4, 2, 3, [9, 5])

We can use + operator to combine two tuples. This is also called concatenation.

We can also repeat the elements in a tuple for a given number of times using the * operator.

Both + and * operations result in a new tuple.

In [126]:
(1,2,3)+(4,5,6)

(1, 2, 3, 4, 5, 6)

In [130]:
(1,)*3

(1, 1, 1)

In [131]:
('repeat',)*3

('repeat', 'repeat', 'repeat')

In [132]:
(1)*3

3

In [133]:
('repeat')*3

'repeatrepeatrepeat'

Deleting a Tuple
As discussed above, we cannot change the elements in a tuple. That also means we cannot delete or remove items from a tuple.

But deleting a tuple entirely is possible using the keyword del.

In [134]:
del m

In [135]:
m

NameError: name 'm' is not defined

In [137]:
m = ('a','p','p','l','e')

In [138]:
'a' in m

True

In [139]:
'g' not in m

True

2. Iterating Through a Tuple
Using a for loop we can iterate through each item in a tuple.

In [140]:
name =('john','jacob','jiya')
for i in name:
    print('hi',i)

hi john
hi jacob
hi jiya

# Advantages of Tuple over List

We generally use tuple for heterogeneous (different) datatypes and list for homogeneous (similar) datatypes.
Since tuples are immutable, iterating through tuple is faster than with list. So there is a slight performance boost.
Tuples that contain immutable elements can be used as a key for a dictionary. With lists, this is not possible.
If you have data that doesn't change, implementing it as tuple will guarantee that it remains write-protected

In [1]:
human=[]
for i in 'human':
    human.append(i)
print(human)

['h', 'u', 'm', 'a', 'n']

# list comprehension

List comprehension is an elegant way to define and create lists based on existing lists.

In [5]:
human=[i for i in 'human']
human

['h', 'u', 'm', 'a', 'n']

If you noticed, human is a string, not a list. This is the power of list comprehension. It can identify when it receives a string or a tuple and work on it like a list.

List comprehensions can utilize conditional statement to modify existing list (or other tuples). We will create list that uses mathematical operators, integers, and range().

In [3]:
even=[x for x in range(21) if x%2==0]
even

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Nested IF with List Comprehension

In [6]:
list =[y for y in range(100) if y%2==0 if y%5==0]
list

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

Here, list comprehension checks:

Is y divisible by 2 or not?
Is y divisible by 5 or not?

if...else With List Comprehension

In [12]:
x=['even' if x%2==0 else 'odd' for x in range(10)]
print(x)

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

# lambda functions

In Python, anonymous function is a function that is defined without a name.
While normal functions are defined using the def keyword, in Python anonymous functions are defined using the lambda keyword.
Hence, anonymous functions are also called lambda functions.

In [13]:
x=lambda x:x*2
x(2)

4

Here x is the argument and x * 2 is the expression that gets evaluated and returned.

We use lambda functions when we require a nameless function for a short period of time.
In Python, we generally use it as an argument to a higher-order function (a function that takes in other functions as arguments). Lambda functions are used along with built-in functions like filter(), map() etc.

Example use with filter()
The filter() function in Python takes in a function and a list as arguments.
The function is called with all the items in the list and a new list is returned which contains items for which the function evaluats to True.

In [17]:
num=[1,2,3,4,4,5,6,7,8,9,10,11,12]
even=list(filter(lambda x: (x%2==0),num))
even

TypeError: 'list' object is not callable

Example use with map()
The map() function in Python takes in a function and a list.
The function is called with all the items in the list and a new list is returned which contains items returned by that function for each item.

In [19]:
num = [1, 5, 4, 6, 8, 11, 3, 12]
list1=list(map(lambda x:x**2 ,num))

TypeError: 'list' object is not callable